@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #cb97d2, #959595);
  }

  /*HEADER*/
  .header {
    background-color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;
}

.lista-header {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-header {
    padding: 0 10px;
}

.item-header a {
    text-decoration: none;
    color: #ffffff;
    font-size: xx-large;
    flex: 1;
    text-align: center;
    padding: 0 30px;
}

.item-header a:hover {
    color: rgb(128, 0, 128);
  }

.banner {
  background: linear-gradient(-180deg, #b5b3b3, #7b18c1);
  border-bottom: 1px solid rgb(255, 255, 255);
  border-radius: 0px;
}  
  /*FOOTER*/
footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1px;
    text-align: center;
    font-size: small;
}


/* BANNER */
  .banner {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-banner-home {
    max-width: 400px;
    align-items: center;
}

/*SERVIÇOS HOME*/
.servicos-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servico {
    background: linear-gradient(-45deg, rgba(183, 174, 174, 0.3), rgba(149, 149, 149, 0.3));
    color: white;
    flex-basis: 400px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
    align-items: center;
    border:3px solid rgb(128, 0, 128);
    border-radius:20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 29px 0 rgba(0, 0, 0, 0.25);
}

.logo-servico {
    max-width: 200px;
    align-items: center;
}

/*Botões*/
.button-servico, .button-about {
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    margin: 10px;
    width: 150px;
    height: 60px;
    background-color: rgba(22, 22, 22, 0.245);
    color: white;
    border: none;
    cursor: pointer;
}

.button-form {
  border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    margin: 10px;
    width: 90px;
    height: 60px;
    background-color: rgba(22, 22, 22, 0.245);
    color: white;
    border: none;
    cursor: pointer;
}

.button-servico:hover, .button-servico:active {
    background-color: rgba(140, 18, 140, 0.5);
    color: rgb(255, 255, 255);
  }

  .button-about:hover, .button-about:active {
    background-color: rgba(140, 18, 140, 0.7);
    color: rgb(255, 255, 255);
  }

  .button-form:hover, .button-form:active {
    background-color: rgba(140, 18, 140, 0.7);
    color: rgb(255, 255, 255);
  }

/*formulários*/
input {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid rgba(140, 18, 140);
  border-radius: 4px;
}

.form-title {
  color: white;
  text-align: center;
}

.form-comb {
  max-width: 500px;
  margin-bottom: 60px;  
  color: white;
  text-align: center;
}

.form-comb form {
  display: grid;
  gap: 10px;
}

.form-comb label {
  font-size: x-large;
}

.form-comb input[type="text"],
.form-comb input[type="number"],
.form-comb input[type="date"],
.form-comb textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(140, 18, 140);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 5px;
}
/*formulário manutenção*/
.form-manut input[type="text"],
.form-manut input[type="number"],
.form-manut input[type="date"],
.form-manut textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(140, 18, 140);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 5px;
}

.manu-title {
  color: white;
  text-align: center;
}

.form-manut {
  max-width: 500px;
  margin-bottom: 60px;  
  color: white;
  text-align: center;
}

.form-manut form {
  display: grid;
  gap: 10px;
}

.form-manut label {
  font-size: medium;
}

.manut-body {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.manut-body table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 25px;
  margin-left: 50px;
}

.manut-body td {
  border: 1px solid #dddddd7e;
  text-align: left;
  padding: 8px;
}

.manut-body th {
  border: 1px solid #dddddd7e;
  text-align: center;
  padding: 8px;
  color: white;
  background-color: black;
}

.manut-body tr:nth-child(even) {
  background-color: #fff7f7;
}

/*ABOUT TEXTO*/
.about-txt {
  text-align: center;
  color: white;
  margin: 50px;
  padding: 10px;
  border: white solid 2px;
  border-radius: 20px;
  max-width: 900px;
}

/* Dashboard */

.dash {
  margin: 40px;
  padding: 20px;
}

.dash img{
  align-self:center;
  border: white solid 2px;
  border-radius: 20px;
  width: 100%;
}